/* Common Start */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  background-color: white;
  color: black;
}
:root {
  --primary-color: #6200EA;
}

.max-w-primary{
  max-width: 1600px;
}

.text-primary{
  color: var(--primary-color);
}

.bg-primary{
  background-color: var(--primary-color);
}


/* Common End */
/* ---------------------------- */




/* Alvee Start */

/* Alvee End */
/* ---------------------------- */




/* Fuad Start */
/* Fuad End */
/* ---------------------------- */
